<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" th:replace="base/mainLayout :: mainLayout('우리의 평가 - 우평')">

<!-- Start Content-->
<div class="container-fluid" th:fragment="content">

    <!-- prs video top Start -->
    <div class="prs_top_video_section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="st_video_slider_inner_wrapper float_left">
                        <div class="st_video_slider_overlay"></div>
                        <div class="st_video_slide_sec float_left">
                            <h3>대통령</h3>
                            <p>대한민국 제20대 대통령</p>
                            <h4>-----------</h4>
                            <h5><span>하하호호당</span></h5>
                        </div>
                        <div class="st_video_slide_social float_left">
                            <div class="st_slider_rating_btn_heart st_slider_rating_btn_heart_5th">
                                <h5><i class="fa fa-star"></i> 2.5점</h5>
                                <h4>52,291 votes</h4>
                            </div>
                            <div class="st_video_slide_social_right float_left">
                                <ul style="float: none">
                                    <li data-animation="animated fadeInUp" class=""><i class="far fa-calendar-alt"></i> 14 Dec, 2018</li>
                                    <li data-animation="animated fadeInUp" class=""><i class="far fa-clock"></i> 2 hrs 23 mins</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
            <div>
        </div>
    </div>
    <!-- prs video top End -->

    <!-- comment area -->
    <div class="col-md-12">
        <div class="prs_mcc_bro_title_wrapper">
            <h2>평가</h2>
            <ul>
                <li><a href="#">All <span>23,124</span></a>
                </li>
                <li><a href="#">Action <span>512</span></a>
                </li>
                <li><a href="#">Romantic <span>548</span></a>
                </li>
                <li><a href="#">Love <span>557</span></a>
                </li>
                <li><a href="#">Musical <span>554</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- comment area End -->

    <!-- kv slider wrapper Start -->
    <div class="kv_main_slider_wrapper slider-area">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-captions caption-1">
                        <div class="container">
                            <div class="st_slider_left_cont_main_wrapper">
                                <div class="content st_slider_left_contact">
                                    <h3 data-animation="animated fadeInUp">ACTION / Adventure / Fantasy</h3>
                                    <h2 data-animation="animated fadeInUp">ENGLISH, HINDI, TAMIL	</h2>
                                    <h4 data-animation="animated fadeInUp">Aquaman <span>2d</span> <span>3d</span> <span>D 4DX</span> <span>Imax 3D</span></h4>
                                    <div class="st_slider_list float_left">
                                        <ul>
                                            <li data-animation="animated fadeInUp"><i class="fa fa-calendar"></i> 14 Dec, 2018</li>
                                            <li data-animation="animated fadeInUp"><i class="fa fa-clock-o"></i> 2 hrs 23 mins</li>
                                            <li data-animation="animated fadeInUp"><i class="fa fa-heart"></i> 50,133 votes</li>
                                        </ul>
                                    </div>
                                    <div class="prs_animate_btn1 prs_upcom_main_wrapper prs_third_slider_btn">
                                        <ul>
                                            <li data-animation="animated fadeInUp"><a href="movie_booking.html" class="button button--tamaya prs_upcom_main_btn" data-text="book now"><span>book now</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="st_slider_right_cont_main_wrapper">
                                <div class="content">
                                    <div class="st_slider_img_wrapper float_left">
                                        <img th:src="@{/assets/images/index_III/01.jpg}" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-captions caption-2">
                        <div class="container">
                            <div class="st_slider_left_cont_main_wrapper">
                                <div class="content st_slider_left_contact">
                                    <h3 data-animation="animated fadeInUp">ACTION / Adventure / Fantasy</h3>
                                    <h2 data-animation="animated fadeInUp">ENGLISH, HINDI, TAMIL	</h2>
                                    <h4 data-animation="animated fadeInUp">Aquaman <span>2d</span> <span>3d</span> <span>D 4DX</span> <span>Imax 3D</span></h4>
                                    <div class="st_slider_list float_left">
                                        <ul>
                                            <li data-animation="animated fadeInUp"><i class="far fa-calendar-alt"></i> 14 Dec, 2018</li>
                                            <li data-animation="animated fadeInUp"><i class="far fa-clock"></i> 2 hrs 23 mins</li>
                                            <li data-animation="animated fadeInUp"><i class="fas fa-heart"></i> 50,133 votes</li>
                                        </ul>
                                    </div>
                                    <div class="prs_animate_btn1 prs_upcom_main_wrapper prs_third_slider_btn">
                                        <ul>
                                            <li data-animation="animated fadeInUp"><a href="movie_booking.html" class="button button--tamaya prs_upcom_main_btn" data-text="book now"><span>book now</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="st_slider_right_cont_main_wrapper">
                                <div class="content">
                                    <div class="st_slider_img_wrapper float_left">
                                        <img th:src="@{/assets/images/index_III/02.jpg}" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-captions caption-3">
                        <div class="container">
                            <div class="st_slider_left_cont_main_wrapper">
                                <div class="content st_slider_left_contact">
                                    <h3 data-animation="animated fadeInUp">ACTION / Adventure / Fantasy</h3>
                                    <h2 data-animation="animated fadeInUp">ENGLISH, HINDI, TAMIL	</h2>
                                    <h4 data-animation="animated fadeInUp">Aquaman <span>2d</span> <span>3d</span> <span>D 4DX</span> <span>Imax 3D</span></h4>
                                    <div class="st_slider_list float_left">
                                        <ul>
                                            <li data-animation="animated fadeInUp"><i class="far fa-calendar-alt"></i> 14 Dec, 2018</li>
                                            <li data-animation="animated fadeInUp"><i class="far fa-clock"></i> 2 hrs 23 mins</li>
                                            <li data-animation="animated fadeInUp"><i class="fas fa-heart"></i> 50,133 votes</li>
                                        </ul>
                                    </div>
                                    <div class="prs_animate_btn1 prs_upcom_main_wrapper prs_third_slider_btn">
                                        <ul>
                                            <li data-animation="animated fadeInUp"><a href="movie_booking.html" class="button button--tamaya prs_upcom_main_btn" data-text="book now"><span>book now</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="st_slider_right_cont_main_wrapper">
                                <div class="content">
                                    <div class="st_slider_img_wrapper float_left">
                                        <img th:src="@{/assets/images/index_III/03.jpg}" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span class="number"></span>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""><span class="number"></span>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""><span class="number"></span>
                    </li>
                </ol>
                <div class="carousel-nevigation">
                    <a class="prev" href="#carousel-example-generic" role="button" data-slide="prev">	<i class="flaticon-back"></i>
                    </a>
                    <a class="next" href="#carousel-example-generic" role="button" data-slide="next"> <i class="flaticon-right-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- kv slider wrapper End -->

    <!-- community area -->
    <div class="col-md-12">
        <div class="prs_mcc_bro_title_wrapper" style="padding-bottom: 50px; padding-top: 0px;">
            <h2>게시글</h2>
            <ul>
                <li><a href="#">All <span>23,124</span></a>
                </li>
                <li><a href="#">Action <span>512</span></a>
                </li>
                <li><a href="#">Romantic <span>548</span></a>
                </li>
                <li><a href="#">Love <span>557</span></a>
                </li>
                <li><a href="#">Musical <span>554</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- community area End -->
</div>

<!-- css -->
<th:block th:fragment="css">

</th:block>

<!-- Scripts -->
<th:block th:fragment="scripts">
    <script th:inline="javascript" th:fragment="scripts">

    </script>
</th:block>
</body>
</html>